<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <div class ="centered">
        <img src="images/ALVIZ Header.png" alt="AlViz Logo" width="450" height="100">
    </div>

    <br>

    <p class="lead ">Visualise the data structures like never before!</p>

    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
