<%- include('partials/header') %>

<div class="jumbotron ">
  <div class="container">

    <center>
      <img src="images/ALVIZ Header.png" alt="AlViz Logo" width="280" height="70">
      </center>
      <br>
      <h4
    <div class="centered-button">
      <hr>
      <a class="btn btn-light btn-primary btn-lg btn-block ds-btn" href="/binarytree" role="button">RB Tree & AVL Tree</a>
      <a class="btn btn-dark btn-primary btn-lg btn-block ds-btn" href="/quicksort" role="button">Quick Sort</a>
      <a class="btn btn-light btn-primary btn-lg btn-block ds-btn" href="/bubblesort" role="button">Bubble Sort</a>
      <a class="btn btn-dark btn-primary btn-lg btn-block ds-btn" href="/prims" role="button">Prims</a>
      <a class="btn btn-light btn-primary btn-lg btn-block ds-btn" href="/dfs" role="button">DFS</a>
      <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>

    </div>


  </div>
</div>

<%- include('partials/footer') %>
